body{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Sora', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle at 56.16% -20.44%, #ff9348 0, #ff8649 12.5%, #ff7447 25%, #ff5d43 37.5%, #f23c3c 50%, #e30037 62.5%, #d80037 75%, #cf003a 87.5%, #c90041 100%);
}
main{
    flex-grow: 1;
}
